{% extends 'base.html'%}

{% block title %}{{user.f_name}} Dashboard{% endblock %}

{% block header %}
<h1 class="col-lg-8 col-12">
    Welcome {{user.full_name()}},
</h1>
<div class="col-lg-4 col-12">
    <a href="/new_task" class="btn btn-primary">
        New Task
    </a>
    <a href="/view_user/{{user.id}}" class="btn btn-info">
        View Details
    </a>
    <a href="/logout" class="btn btn-danger">
        Logout
    </a>
</div>
{% endblock %}

{% block content %}
<table class="table table-striped border border-dark border-2">
    <thead>
        <tr>
            <th class="border border-dark border-1">Task</th>
            <th class="border border-dark border-1">Priority</th>
            <th class="border border-dark border-1">Due Date</th>
            <th class="border border-dark border-1">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td class="border border-dark border-1">{{task.task_description}}</td>
            <td class="border border-dark border-1">
            {% if task.priority == 1 %}
            Low
            {% elif task.priority == 2 %}
            Mid
            {% elif task.priority == 3 %}
            High
            {% endif %}
            </td>
            <td class="border border-dark border-1">{{task.due_date}}</td>
            <td class="border border-dark border-1">
                <a href="/view_task/{{task.id}}" class="btn btn-secondary">View</a>
                <a href="/edit_task/{{task.id}}" class="btn btn-warning">Edit</a>
                <a href="/destroy/task/{{task.id}}" class="btn btn-success">Done</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}