{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block header %}
<h1 class="col-12 centerText">Welcome to CRM Webapplication</h1>
{% endblock %}

{% block content %}
<form action="/create_user" method="post" class="container col-lg-5 col-md-5 col-12 my-3 bg-light border">
    <div class="container bg-danger">
    {% with messages = get_flashed_messages(category_filter=['create_user']) %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">First Name: </label>
        <input name="f_name" type="text" class="col-lg-8 col-12"/>
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">Last Name: </label>
        <input name="l_name" type="text" class="col-lg-8 col-12"/>
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">Email: </label>
        <input name="email" type="text" class="col-lg-8 col-12"/>
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">Password: </label>
        <input name="password" type="password" class="col-lg-8 col-12"/>
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">Confirm Password: </label>
        <input name="conf_password" type="password" class="col-lg-8 col-12"/>
    </div>
    <button type="submit" class="container btn btn-primary my-2">Create User</button>
</form>
<form action="/login" method="post" class="container col-lg-5 col-md-5 col-12 my-3 bg-light border">
    <div class="container bg-danger">
    {% with messages = get_flashed_messages(category_filter=['login']) %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">Email: </label>
        <input name="email" type="email" class="col-lg-8 col-12"/>
    </div>
    <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
        <label class="col-lg-4 col-12">Password: </label>
        <input name="password" type="password" class="col-lg-8 col-12"/>
    </div>
    <button type="submit" class="container btn btn-primary my-2">Login</button>
</form>
{% endblock %}