{% extends 'base.html' %}

{% block title %}New Task{% endblock %}

{% block header %}
<h1 class="col-lg-10 col-md-8 col-12">New Task</h1>
<a href="/dashboard" class="col-lg-2 col-md-4 col-12 btn btn-primary">Return to Dashboard</a>
{% endblock %}

{% block content %}
<form action="/create_task" method="post" class="container my-3 bg-light border">
    <div class="container row bg-danger m-1">
    {% with messages = get_flashed_messages(category_filter=['create_task']) %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="container row">
        <div class="col-lg-6 col-12">
            <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
                <label class="col-12">Task Description:</label>
                <textarea name="task_description" rows="4" cols="50" class="col-12"></textarea>
            </div>
            <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
                <label class="col-lg-3 col-md-3 col-6">Is recurring?</label>
                <input type="checkbox" name="is_recurring" class="col-1"/>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
                <label class="col-lg-4 col-md-3 col-12">Priority:</label>
                <select name="priority" class="col-lg-8 col-md-9 col-12">
                    <option value="0" selected>Select one.....</option>
                    <option value="1">Low</option>
                    <option value="2">Mid</option>
                    <option value="3">High</option>
                </select>
            </div>
            <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
                <label class="col-lg-4 col-md-3 col-12">Reminder time:</label>
                <input type="time" name="reminder_time" class="col-lg-8 col-md-9 col-12"/>
            </div>
            <div class="container row mx-lg-2 mx-1 p-lg-2 p-1">
                <label class="col-lg-4 col-md-3 col-12">Due Date:</label>
                <input type="date" name="due_date" class="col-lg-8 col-md-9 col-12"/>
            </div>
            <button type="submit" class="btn btn-success col-12 my-2">Create Task</button>
        </div>
    </div>
</form>
{% endblock %}