<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div>
        <h1>User Details</h1>
        <a href="/dashboard">Return to Dashboard</a>
    </div>
    <div>
        <div>
            <p>First Name: {{user.f_name}}</p>
            <p>Last Name: {{user.l_name}}</p>
            <p>Email: {{user.email}}</p>
        </div>
        <div>
            <p>Todos: __</p>
            <p>Todos Done: {{user.todos_fin}}</p>
        </div>
        <div>
            <a href="/edit_user/{{user.id}}">Edit User</a>
            <a href="/destroy/{{user.id}}">Delete User</a>
        </div>
    </div>
</body>
</html>