{% extends 'base.html' %}

{% block title %}View Task{% endblock %}

{% block header %}
<h1 class="col-lg-10 col-md-8 col-12">View Task</h1>
<a href="/dashboard" class="col-lg-2 col-md-4 col-12 btn btn-primary">Return to Dashboard</a>
{% endblock %}

{% block content %}
<div class="container row mx-1 my-3 py-3 bg-light border">
    <div class="col-lg-6 col-md-6 col-12">
        <p>Task Description: {{task.task_description}}</p>
        {% if task.priority > 0 %}
        <p>
            Priority: 
            {% if task.priority == 3 %}
            High
            {% elif task.priority == 2 %}
            Mid
            {% elif task.priority == 1 %}
            Low
            {% endif %}
        </p>
        {% endif %}
    </div>
    <div class="col-lg-6 col-md-6 col-12">
        <p>Reminder Time: {{task.reminder_time}}</p>
        <p>Due Date: {{task.due_date}}</p>
        <p>
            Is Recurring task? 
            {% if task.is_recurring == 1 %}
            Yes
            {% else %}
            No
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}