{% extends 'base.html' %}

{% block title %}View {{user.f_name}}{% endblock %}

{% block header %}
<h1 class="col-lg-10 col-md-8 col-12">User Details</h1>
<a href="/dashboard" class="col-lg-2 col-md-4 col-12 btn btn-primary">Return to Dashboard</a>
{% endblock %}

{% block content %}
<div class="container row mx-1 my-3 py-2 bg-light border">
    <div class="col-lg-6 col-md-6">
        <p>First Name: {{user.f_name}}</p>
        <p>Last Name: {{user.l_name}}</p>
        <p>Email: {{user.email}}</p>
    </div>
    <div class="col-lg-6 col-md-6">
        <p>Todos: {{tasks_num}}</p>
        <p>Todos Done: {{user.todos_fin}}</p>
    </div>
    <div class="row">
        <a href="/edit_user/{{user.id}}" class="col-lg-5 col-md-5 btn btn-warning mx-lg-3 mx-md-3 my-1">
            Edit User
        </a>
        <a href="/destroy/user/{{user.id}}" class="col-lg-5 col-md-5 btn btn-danger mx-lg-3 mx-md-3 my-1">
            Delete User
        </a>
    </div>
</div>
{% endblock %}