# Root Folder
Robert_Godlewski_solo_project_idea/

# Database details
database_sql/database_models/

# Hide the Keys
flask_app/config/project_key.py

# inside crm_app folder - hide all, not doing Django anymore
crm_app/
