<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div>
        <h1>Welcome {{user_info.fName}} {{user_info.lName}},</h1>
        <p>
            ******Details to take out later*******
            Email: {{user_info.email}}, 
            password: {{user_info.password}}
        </p>
        <button>Link to view the user</button>
    </div>
    <div>
        <p>
            Total of {{todo_list.length}} tasks.  Done with {{user_info.todos_done}} tasks.
        </p>
        <button>New Task</button>
        <a href="/logout">Logout</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Task</td>
                <td>Priority</td>
                <td>Due Date</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>